---
import { createTranslations } from "../core/shared/infrastructure/i18n/server"; 

import jeseb from "../assets/images/jeseb.png";

const locale = Astro.props?.locale || "en";
const t = createTranslations(locale);
---

<style>
    .navbar {
        background-color: #131b21;
    }
</style>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href={`/${locale}`}>
            <img src={jeseb.src} alt="Jeseb" />
            <b>Jeseb</b>
        </a>
        <a id="navbarBurger" role="button" class="navbar-burger" 
            aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href={`/${locale}/`}>{t("shared.menu.home")}</a>
            <a class="navbar-item" href={`/${locale}/accounts`}>{t("shared.menu.accounts")}</a>
            <a class="navbar-item" href={`/${locale}/categories`}>{t("shared.menu.categories")}</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">{t("locales.title")}</a>
                <div id="nmLocales" class="navbar-dropdown">
                    <a id="en" class="navbar-item">{t("locales.en")}</option>
                    <a id="es" class="navbar-item">{t("locales.es")}</option>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a id="nmUserName" class="navbar-link">{t("shared.name")}</a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href={`/${locale}/profile`}>{t("shared.menu.profile")}</a>
                    <a id="nmUserLogout" class="navbar-item">{t("shared.menu.logout")}</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    import { User } from "../core/user/domain/User";
    import type { UserRepository } from "../core/user/domain/UserRepository";
    import { UserApiRepository } from "../core/user/infrastructure/UserApiRepository";
    import { type Locale, getLocale, setLocale } from "../core/shared/infrastructure/i18n";

    const userRepository: UserRepository = new UserApiRepository();

    const navbarBurger = document.getElementById("navbarBurger") as HTMLAnchorElement;
    const navbarMenu = document.getElementById("navbarMenu") as HTMLDivElement;
    const nmLocales = document.getElementById("nmLocales") as HTMLDivElement;
    const nmUserName = document.getElementById("nmUserName") as HTMLAnchorElement;
    const nmUserLogout = document.getElementById("nmUserLogout") as HTMLAnchorElement;

    const locale = getLocale();

    navbarBurger.onclick = () => {
        if (navbarBurger.classList.contains("is-active")) {
            navbarBurger.classList.remove("is-active");
            navbarMenu.classList.remove("is-active");
            return;
        }
        navbarBurger.classList.add("is-active");
        navbarMenu.classList.add("is-active");
    };

    const locales = nmLocales.getElementsByClassName("navbar-item");
    for (let i = 0; i < locales.length; i++) {
        const aLocale = locales[i] as HTMLAnchorElement;
        aLocale.onclick = () => {
            setLocale(aLocale.id as Locale);

            let pathname: string = window.location.pathname;
            pathname = pathname.replace(locale, aLocale.id);
            window.location.href = pathname;
        };
    }
    
    const user: User | undefined = await userRepository.get();
    if (!user) window.location.href = `/${locale}/login`;

    nmUserName.textContent = user!.name;
    nmUserLogout.onclick = () => {
        window.localStorage.removeItem("token");
        window.location.href = `/${locale}/login`;
    };
</script>